{% extends 'base.html' %} {% block title %} Display Image {% endblock %} {% block
header %}
<h1>Display Image</h1>
{% endblock %} {% block content %}
<img
    class="mx-auto block w-full rounded border shadow sm:w-1/3"
    src="{{ image }}"
    alt="image"
    id="image"
/>
<script>
    if (navigator.share) {
        document.write(`
      <div class="text-center">
        <button onclick="shareMeme()" class="sm:text-2xl mx-auto border px-6 m-2 bg-indigo-300 hover:bg-indigo-600 hover:text-white shadow">Share</button>
      </div>
    `);
    }
</script>

<script>
    function shareImage() {
        if (navigator.share) {
            navigator
                .share({
                    // title: 'Check out this image!',
                    // text: 'I found a funny image to share with you!',
                    url: document.getElementById("image").src,
                })
                .then(() => console.log("Successful share"))
                .catch((error) => console.log("Error sharing:", error));
        }
    }
</script>
<br />

<h2>Find Similar Memes</h2>
<hr />
<div
    id="similar-images"
    class="m-10 mx-auto grid grid-cols-1 justify-center gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
    {% for image in images %}
    <a href="/image/{{image.id}}">
        <img class="w-64 border" src="{{ image.url }}" alt="image" />
    </a>
    {% endfor %}
</div>
{% endblock %}
